##### Table: Employee
id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 Write a solution to find the nth highest distinct salary from the Employee table. If there are less than n distinct salaries, return null.

In [1]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    unique_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)
    
    if (N > len(unique_salaries)) or (N <=0) :
        return pd.DataFrame({f"getNthHighestSalary({N})": [None]})
    else:
        nth_salary = unique_salaries.iloc[N-1]
        return pd.DataFrame({f"getNthHighestSalary({N})": [nth_salary]})

#### Table: Employee
tweet_id is the primary key (column with unique values) for this table.
content consists of alphanumeric characters, '!', or ' ' and no other special characters.
This table contains all the tweets in a social media app.
 

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

In [3]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    unique_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False).reset_index(drop=True)
    
    if (N > len(unique_salaries)) or (N <=0) :
        return pd.DataFrame({f"getNthHighestSalary({N})": [None]})
    else:
        nth_salary = unique_salaries.iloc[N-1]
        return pd.DataFrame({f"getNthHighestSalary({N})": [nth_salary]})

#### Table: Users

user_id is the primary key (column with unique values) for this table.
This table contains information of the users signed up in a website. Some e-mails are invalid.
 

Write a solution to find the users who have valid emails.

A valid e-mail has a prefix name and a domain where:

The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
The domain is '@leetcode.com'.
Return the result table in any order.

In [4]:
import pandas as pd

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    pattern = r'^[A-Za-z][A-Za-z0-9_.-]*@leetcode\.com$'
    valid_users = users[users['mail'].str.match(pattern)]
    
    return valid_users

#### Table: Customers
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.
 

Table: Orders
id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
 

Write a solution to find all customers who never order anything.

Return the result table in any order.

In [5]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customer_order = pd.merge(customers , orders , left_on = 'id' , right_on = 'customerId', how = 'left')
    result = customer_order[customer_order['customerId'].isna()][['name']]
    result.columns = ['Customers']
    return result

#### Table: Employees
employee_id is the primary key (column with unique values) for this table.
Each row of this table indicates the employee ID, employee name, and salary.
 

Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.

Return the result table ordered by employee_id.

In [6]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    bonus_condition = (employees['employee_id'] % 2 == 1) & (~employees['name'].str.startswith('M'))
    employees['bonus'] = employees['salary'].where(bonus_condition ,0)
    return employees[['employee_id' , 'bonus']].sort_values(by = 'employee_id')

##### Table: Patients
patient_id is the primary key (column with unique values) for this table.
'conditions' contains 0 or more code separated by spaces. 
This table contains information of the patients in the hospital.
 

Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.

Return the result table in any order.

In [7]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    mask = patients['conditions'].str.contains(r'(?:^|[^A-Za-z0-9])DIAB1', na=False)
    return patients[mask]

In [ ]:
##### Table: Usersuser_id is the primary key (column with unique values) for this table.
This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.
 

Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by user_id.