**Q 1**Employee Salary System

A company wants to automate salary computation.
Every employee has a base salary.
Managers get an additional bonus (10% of their base salary), while Developers get project allowances (₹500 per project).

Write a Python program using inheritance that:

Defines classes for Employee, Manager, and Developer.

Calculates and displays the total salary for both types.

Displays which employee earns more.

In [2]:
class Employee :
    def __init__(self, name , base_salary):
        self.name = name
        self.base_salary = base_salary 

    def get_salary(self):
        return (f"{self.name} has {self.base_salary} salary")

class Manager(Employee):
    def __init__(sself ,name , base_salary ):
        super().__init__(name , base_salary)

    def get_salary(self):
        total_salary = self.base_salary * 1.1

        return (f"{self.name} has {total_salary} salary")


class Developer(Employee):
    def __init__(self,name , base_salary,n):
        super().__init__(name , base_salary)
        self.n = n

    def get_salary(self):
        total_salary = self.base_salary + (self.n * 500)

        return (f"{self.name} has {total_salary} salary")


e1 = Employee('a' ,1200)
m1 = Manager('b' , 1300)
d1 = Developer('c' , 1200 ,6)

print(e1.get_salary())
print(m1.get_salary())
print(d1.get_salary())

a has 1200 salary
b has 1430.0000000000002 salary
c has 4200 salary

**Q2** At a university, there are Students and Faculty members.
A Teaching Assistant (TA) is both a Student and also assists a Faculty member in teaching.

Write a Python program that:

Stores basic details for Student and Faculty.

Allows a Teaching Assistant to access information from both.

Displays the TA’s full role details clearly.

In [3]:
class Faculty :
    def __init__(self , name , subject):
        self.name = name
        self.subject = subject

    def show_details(self):
        return (f"{self.name} is a faculty member who teaches {self.subject}")

class Student :
    def __init__(self ,name , program):
        self.name = name
        self.program = program

    def show_details(self):
        return (f"{self.name} is a student enrolled in {self.program}")


class Teaching_asst(Faculty ,  Student):
    def __init__(self ,name , subject , program):
        Faculty.__init__(self ,name , subject)
        Student.__init__(self ,name , program)

    def show_details(self):
        return (f"{self.name} is a teaching assisstant who teaches {self.subject} and is enrolled in {self.program}")



f1 = Faculty('a' , 'MTH165')
s1 = Student('b' , 'CSE')
t1 = Teaching_asst('c' , 'MTH165' , 'CSE')

print(f1.show_details())
print(s1.show_details())
print(t1.show_details())

a is a faculty member who teaches MTH165
b is a student enrolled in CSE
c is a teaching assisstant who teaches MTH165 and is enrolled in CSE

**Q 3** A bank offers Savings and Current accounts.
A Premium customer can enjoy both features — earning interest on savings and having an overdraft facility.

Write a Python program that:

Calculates total balance for both types of customers.

Displays the Premium customer’s overall benefits and balance.

In [4]:
class Reservation:
    def __init__(self ,name , flight_no):
        self.name = name
        self.flight_no = flight_no

    def show_details(self):
        return (f"Name : {self.name}    Flight Number : {self.flight_no}")

class Business_class(Reservation):
    def __init__(self , name , flight_no):
        super().__init__(name , flight_no)
        self.lounge_access = 'Yes'

    def show_details(self):
        return (f"Name : {self.name}    Flight Number : {self.flight_no}   Lounge Access : {self.lounge_access}")

class VIP(Business_class):
    def __init__(self , name , flight_no):
        super().__init__(name , flight_no)
        self.personal_asst = 'Yes'

    def show_details(self):
        return (f"Name : {self.name}    Flight Number : {self.flight_no}   Lounge Access : {self.lounge_access}    Personal Assistance : {self.personal_asst} ")


r1 = Reservation('a' , 12)
b1 = Business_class('b' , 23)
v1 = VIP('D' , 88)

print(r1.show_details())
print(b1.show_details())
print(v1.show_details())

Name : a    Flight Number : 12
Name : b    Flight Number : 23   Lounge Access : Yes
Name : D    Flight Number : 88   Lounge Access : Yes    Personal Assistance : Yes

In [3]:
# Take the strings as input

s1=input()
s2=input()

# Write your code below
list_s1 = list(set(s1))
list_s2 = list(set(s2))
list_s1.sort()
list_s2.sort()
common_list =[]
for i in range(len(list_s2)):
    if list_s2[i] in list_s1:
        common_list.append(list_s2[i])
        
if common_list:
    print("The common letters are:")
    for i in common_list:
        print(i)
        
else:
    print("  There is no common letters between them")

 Hello
 World

The common letters are:
l
o

In [5]:

s1=input()
s2=input()

# Write your code below

common = sorted(set(s1) & set(s2))

if common:
    print("The common letters are :")
    for ch in common:
        print(ch)
else:
    print("There is no common letters between them")

 ram
 raheem

The common letters are :
a
m
r

In [6]:

#input() takes input in form of the string
in_string=input()

#here extract the two numbers from the string
num_list = in_string.split(',')
x = int(num_list[0])
y = int(num_list[1])


#print x and y before swapping
print(f"x before swapping: {x}")
print(f"y before swapping: {y}")


#Writing your swapping code here
x , y = y , x


#print x and y after swapping
print(f"x after swapping: {x}")
print(f"y after swapping: {y}")

 20,50

x before swapping: 20
y before swapping: 50
x after swapping: 50
y after swapping: 20

In [20]:
input_list = ast.literal_eval(input())
result_list = []
for i in input_list:
    if i % 3 == 0 :
        result_list.append((i ** 2))
        continue
    result_list.append(i)
print(result_list)

 [1,2,3,4,5,6]

[1, 2, 9, 4, 5, 36]

In [5]:
n = len(M)
chars = list(M[:n/2])
position = 1
for i in M[n/2:]:
    chars.insert(position , i)
position +=2
	    
	D =''.join(M)

 dslcoeet

'doselect'

In [8]:
def solution(s):
	# Write your code here
	char_dict = {}
	for i in s:
	    char_dict[i] = char_dict.get(i ,0) +1
	
	for i in range(len(s)):
	    if char_dict[s[i]] == 1:
	        return i
	        
	return -1

print(solution('himanshu'))

1

In [21]:
def solution(array):
    n = len(array)
    mid = n// 2
    min_diff = max(array)

    for d in range(1, mid + 1):
        left = array[mid - d]
        right = array[mid + d]
        diff = abs(left - right)
        if diff < min_diff:
            min_diff = diff

    return min_diff


print(solution([5,9,7,2,4,5,9]))

3

###### Double pairs are pair of 2 numbers, such that one of them is double of the other. You are given an array, wherein all integers are unique. You have to find the number of such pairs.Return the number of such pairs

In [12]:
def find_pairs(nums):
    count = 0
    for i in nums:
        if 2*i in nums :
            print(f"{i} , {2*i}")
            count += 1
            
    return count
find_pairs([5,6,7,12,14,28])

6 , 12
7 , 14
14 , 28

3

In [24]:
# Make the number max

def beauty_num(num):
    digits = list(str(num))
    n = len(digits)

    last = [-1] * 10
    for i, d in enumerate(digits):
        last[int(d)] = i

    for i in range(n):
        current_digit = int(digits[i])
        for d in range(9, current_digit, -1):
            if last[d] > i:
                swap_idx = last[d]
                digits[i], digits[swap_idx] = digits[swap_idx], digits[i]
                return int("".join(digits))

    return num

beauty_num(2736)

7236